//--------------------------- CSS variables
:root {
    --tiki-top-light-bg:  #fff;
    --tiki-top-light-color: #{$navbar-light-color};
    --tiki-top-light-link-color: #000;
    --tiki-top-light-link-hover-color: #000;

    --tiki-topbar-light-bg: #fff;
    --tiki-topbar-light-color: #888;
    --tiki-topbar-light-link-color: #595959;
    --tiki-topbar-light-link-hover-color: #888;

    --tiki-top-dark-bg:  #fafafa;
    --tiki-top-dark-color: #333;
    --tiki-top-dark-link-color: #333;
    --tiki-top-dark-link-hover-color: #333;

    --tiki-topbar-dark-bg: #fafafa;
    --tiki-topbar-dark-color: #333;
    --tiki-topbar-dark-link-color: #333;
    --tiki-topbar-dark-link-hover-color: #333;
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg);
    --tiki-admin-dropdown-dark-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}

.accordion {
    --bs-accordion-active-bg: #E3E3E3;
//    --bs-accordion-active-color: #fff;
//    --bs-accordion-btn-bg: #2B3E50;
//    --bs-accordion-btn-color: #fff;
}