// variables.scss 2017-05-16 made by BarbaraLassalle

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$primary: #e2d4d4;
$secondary: #868e96;
$success:       #218739; //#28a745; darkened for $form-feedback-valid-color WCAG valid
$info:          #17a2b8;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

$theme-colors: (
    "primary": #e2d4d4,
    "secondary": #868e96,
    "success": #28a745,
    "info": #17a2b8,
    "warning": #ffc107,
    "danger": #dc3545
);

// Options
// Spacing

// Body
$body-bg:               #f0f0f0;
$body-color:            #4F5963; // $gray-500;

// Links
$link-color:            #6C727F; // $gray-500;
$link-hover-color:      $primary;
$link-focus-color:      $primary;
$link-active-color:     $primary;
$link-hover-decoration: none;

// Components
$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;
$component-active-color:    $gray-500;

// Fonts
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace: "Courier New", monospace;
$headings-font-family:    $font-family-sans-serif;

$h3-text-transform:       uppercase;
$h4-color:                $gray-500;
$h4-font-weight:          300;
$h4-margin:               0;
$h6-margin:               10/16rem 0;
$text-muted:              #6B737B; // Darkened for WCAG compliance
$blockquote-footer-color:     $text-muted; // also darkened

// Tables
//$table-border-color: #dddddd;

// Buttons
$btn-primary-color:              $gray-300;
$btn-primary-bg:                 #ffffff;
$btn-primary-border:             $body-bg;

$btn-secondary-color:            $btn-primary-color;
$btn-secondary-bg:               $body-bg;
$btn-secondary-border:           $btn-primary-border;

// Forms
$input-border:                     $body-bg;
$input-border-focus:            $primary;
$input-color-placeholder:       #646C73; // Darkened for WCAG compliance

$legend-font-size:               21/16rem;
$legend-border-bottom:           #e3e3e3;
$legend-margin-bottom:           21/16rem;
$legend-padding:                 10/16rem 0;
$form-text-color:                $text-muted;

// Dropdowns
$dropdown-border: transparent;
$dropdown-link-hover-color:      $gray-800;
// Navs
// Navbar
$navbar-height:                    35px;
$navbar-light-color:             $gray-500;
$navbar-light-bg:                #ffffff;
$navbar-light-border:            transparent;

// Navbarlinks - Variable names updated for Bootstrap 5 ("-link" removed)
$navbar-light-color:                #6C727F; //$gray-500;
$navbar-light-hover-color:          $gray-800;
$navbar-light-toggle-icon-bar-bg:        #cccccc;

$navbar-dark-bg: #222;
$navbar-dark-color:                 #ffffff;
$navbar-dark-hover-color:           $gray-800;
$navbar-dark-hover-bg:              darken($navbar-dark-bg, 6.5%);
$navbar-dark-active-color:          #ffffff;
$navbar-dark-active-bg:            darken($navbar-dark-bg, 6.5%);
// Pagination
// Jumbotron
// Cards
//$card-border-radius: $border-radius-lg;
//$card-text: #fff;//@gray-lighter;
//$card-header-bg: #386dbb;

// Accordion
$accordion-button-active-color: darken($body-color, 10%);

// Tooltips
// Popovers
// Badges
// Modals
//$modal-header-border-color: #386dbb;
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
$figure-caption-color: #6F7680;

// Breadcrumbs
// Carousel
// Close
// Code

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //