//------- Tiki CSS variables
:root {
    --tiki-top-light-bg: #{$body-bg};
    --tiki-top-light-color: #{$navbar-light-color};;
    --tiki-top-light-link-color: #{$navbar-light-color};;
    --tiki-top-light-link-hover-color: #{$navbar-light-hover-color};
    --tiki-top-light-link-active-color: #{$navbar-light-hover-color};
    --tiki-top-light-link-hover-bg: transparent;
    --tiki-top-light-link-active-bg: transparent;
    --tiki-top-light-border: solid #1a1a1a;
    --tiki-top-light-box-shadow: none;

    --tiki-topbar-light-bg: #{$body-bg};
    --tiki-topbar-light-color: #{$navbar-light-color};
    --tiki-topbar-light-link-color: #{$navbar-light-color};
    --tiki-topbar-light-link-hover-color: #{$navbar-light-hover-color};
    --tiki-topbar-light-link-active-color: #{$navbar-light-hover-color};
    --tiki-topbar-light-link-hover-bg: transparent;
    --tiki-topbar-light-link-active-bg: transparent;
    --tiki-topbar-light-border: solid #1a1a1a;
    --tiki-topbar-light-box-shadow: none;

    --tiki-top-dark-bg: #{$dark};
    --tiki-top-dark-color: #{$navbar-dark-color};
    --tiki-top-dark-link-color: #{$navbar-dark-color};
    --tiki-top-dark-link-hover-color: #{$white};
    --tiki-top-dark-link-hover-bg: transparent;
    --tiki-top-dark-border: none;
    --tiki-top-dark-box-shadow: none;

    --tiki-topbar-dark-bg: #{$dark};
    --tiki-topbar-dark-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-hover-color: #{$white};
    --tiki-topbar-dark-link-hover-bg: transparent;
    --tiki-topbar-dark-border: none;
    --tiki-topbar-dark-box-shadow: none;

    --tiki-top-border-width: 0 0 0.75rem 0;
    --tiki-topbar-border-width: 0 0.75rem 0.75rem 0.75rem;
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg);
    --tiki-admin-dropdown-dark-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}