/* The AdminUI "feature" theme for Tiki Wiki CMS Groupware */
// Core variables and mixins
$secondary: #6d35a6;

// SCSS file imports removed - none needed.

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

// Most SCSS color variables replaced by CSS variables for easy theming
$darkestgrey: #0f0f0f; // maybe replace later
$color-light: rgba(0, 0, 0, 0.5); // Not replaced as it's only used for minor details

.tiki-admin aside.admin-nav .navbar-dark, .tiki-admin .top_modules.navbar-dark-parent, .tiki-admin .navbar-dark-parent #top_modules {
    background: var(--tiki-admin-navbar-dark-bg) !important; //$darkgrey !important;
}

.tiki-admin .top_modules.navbar-light-parent, .tiki-admin aside.admin-nav .bg-light, .tiki-admin .navbar-light-parent #top_modules {
    background: var(--tiki-admin-navbar-light-bg) !important; // $lightgrey !important;
}

.tiki-admin .navbar-nav, .tiki-admin .topbar, .tiki-admin .navbar-nav .nav-link, .tiki-admin .navbar-nav .nav-link:hover, .tiki-admin .navbar-nav .nav-link:focus, .tiki-admin .navbar-collapse, .tiki-admin .nav .open > a {
    background: none !important;
    border: none;
}

.tiki-admin .navbar-dark.bg-dark, .tiki-admin .navbar-dark.bg-dark, .tiki-admin .bg-dark, .tiki-admin .bg-light, .tiki-admin nav.top_modules, .tiki-admin #top_modules {
    border: none !important;
    min-height: unset;
}

.tiki-admin .navbar-nav .nav-link, .tiki-admin .navbar-nav .nav-link:hover, .tiki-admin .navbar-nav .nav-link:focus, .tiki-admin .navbar-collapse {
    background-image: none;
}

.tiki-admin.layout_basic nav.top_modules {
    margin: unset;
    border-radius: unset;
}

.tiki-admin aside.admin-nav .navbar-dark, .tiki-admin .top_modules.navbar-dark-parent, .tiki-admin aside.admin-nav .navbar-light, .tiki-admin .top_modules.navbar-light-parent {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    left: 0;
    top: 0;
}

.tiki-admin aside.admin-nav .navbar-light, .tiki-admin aside.admin-nav .navbar-dark {
    z-index: 9998;
}

.tiki-admin .top_modules.navbar-dark-parent, .tiki-admin .top_modules.navbar-light-parent {
    z-index: 9999;
}

.tiki-admin .admin-navbar .form-check-label {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: initial;
}

.tiki-admin .top_modules .box-quickadmin {
    margin-left: auto !important;
    padding: 0 1.4rem;
    background-color: transparent !important;
}

// When quickadmin module is given containing div in admin modules
.tiki-admin .top_modules div[class*='col'] {
    margin-left: auto !important;
}

.tiki-admin .box-quickadmin .dropdown-menu.show {
    height: calc(100vh - 50px);
}

.tiki-admin .top_modules .nav .open > a:hover {
    background-color: transparent;
}

.tiki-admin .top_modules .module:nth-child(2) {
    margin-left: initial;
}

.tiki-admin .top_modules.navbar-dark-parent .dropdown-menu, .tiki-admin .top_modules.navbar-light-parent .dropdown-menu {
    transform: none !important;
    margin-top: 50px !important;
    overflow: auto;
}

.tiki-admin .admin-navbar form {
    width: unset !important;
}

.tiki-admin .admin-navbar .dropdown-menu {
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    box-shadow: none;
}

.tiki-admin aside.admin-nav {
    padding: 0 !important;
}

.tiki-admin .top_modules.navbar-dark-parent, .tiki-admin .top_modules.navbar-light-parent {
    width: 100%;
    height: 50px;
    padding: 0 1.6rem;
}

.tiki-admin aside.admin-nav .navbar-light, .tiki-admin aside.admin-nav .navbar-dark {
    height: calc(100% - 50px - 2.3rem);
    width: 268px !important;
    overflow-y: auto;
    overflow-x: hidden;
    top: 50px;
}

.tiki-admin aside.admin-nav .narrow .dropdown-item {
    padding-right: 0;
}


.tiki-admin .admin-wrapper .admin-nav {
    width: 0;
}

.tiki-admin .col-md-12.side-col-toggle-container {
    display: none;
}

// Admin menu left

.tiki-admin aside.admin-nav .navbar-light.narrow, .tiki-admin aside.admin-nav .navbar-dark.narrow, .tiki-admin aside.admin-nav .narrow .admin-menu-collapser {
    width: 80px !important;
}

.tiki-admin aside.admin-nav .admin-menu-collapser a {
    width: 50px;
}

.tiki-admin aside.admin-nav .narrow .admin-menu-collapser a {
    width: 100%;
}

.tiki-admin aside.admin-nav .navbar-light.narrow li .icon .icon, .tiki-admin aside.admin-nav .navbar-dark.narrow li .icon .icon {
    font-size: 1.1rem !important;
}

.tiki-admin aside.admin-nav .narrow .navbar-nav {
    margin-top: 0;
}

.tiki-admin aside.admin-nav .narrow ul {
    padding: 0;
}

.tiki-admin aside.admin-nav .narrow .navbar-nav a.nav-link {
    display: block;
    padding: 4px 0 4px 1.5rem;
}

.tiki-admin aside.admin-nav .navbar-light.narrow .navbar-nav > li:after {
    border-bottom: 1px solid $color-light;
}

.tiki-admin .admin-wrapper .navbar-nav {
    padding: 0;
    width: 100%;
}

.tiki-admin aside.admin-nav ul .nav-item a, .tiki-admin .admin-wrapper .form-inline {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.tiki-admin aside .btn {
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    border: none;
}

.tiki-admin aside nav {
    .dropdown-menu {
        border-radius: 0 !important;
    }
}

.tiki-admin .form-control {
    padding: 0.25rem 0.5rem;
}

.tiki-admin .admin-nav .navbar-dark .nav-item .right.nav-link.collapse-toggle[aria-expanded="true"] {
    background-color: $darkestgrey;
}

.tiki-admin .admin-nav .navbar-light .nav-item .right.nav-link.collapse-toggle[aria-expanded="true"] {
    background: var(--tiki-admin-toggle-light-bg); // $lightgrey-dark;
}

.tiki-admin .admin-nav .navbar-light .nav-item .collapse.show {
    background: var(--tiki-admin-dropdown-light-bg); //$lightgrey-middle;
}

.tiki-admin .admin-nav .nav-item .right.nav-link.collapse-toggle {
    padding-top: .5rem;
    padding-bottom: .4rem;
}

.tiki-admin .admin-nav .nav-item .collapse.show, .tiki-admin .admin-nav .nav-item .collapsin, .tiki-admin .admin-nav .nav-item .collapsing {
    margin-bottom: .4rem;
}

.tiki-admin .admin-nav .narrow .collapse .dropdown-item.icon span:not(.icon), .tiki-admin .admin-nav .narrow .collapsing .dropdown-item.icon span:not(.icon) {
    display: none;
}

.tiki-admin .admin-wrapper .narrow .form-inline {
    display: none;
}

.tiki-admin .form-inline .mb-3, .tiki-admin .form-inline .mb-3 .input-group {
    width: 100%;
}

.tiki-admin .form-inline .mb-3 {
    padding: 1rem 0;
}

.tiki-admin .dropdown-item {
    padding: .6rem 1.5rem;
    line-height: 1;
    font-size: 1rem;
}

@media (max-width: 767.5px) {

    // Dropdown when open

    .tiki-admin .top_modules .dropdown-menu, .tiki-admin .navbar-collapse {
        width: 100%;
        position: fixed !important;
        transform: unset !important;
        margin: 0;
        left: 0;
        height: 100%;
        padding: 1.5rem 0;
        border-radius: 0 !important;
    }

    .tiki-admin .top_modules .bg-dark-parent .dropdown-menu, .tiki-admin .bg-dark .navbar-collapse {
        background-color: var(--tiki-admin-dropdown-dark-bg) !important; //$darkergrey !important;
    }

    .tiki-admin .top_modules.navbar-light-parent .dropdown-menu, .tiki-admin .bg-light .navbar-collapse {
        background-color: var(--tiki-admin-dropdown-light-bg) !important; // $lightgrey !important;
    }

    .tiki-admin .dropdown-item {
        white-space: normal;
    }

    .tiki-admin .filter-menu .dropdown-menu {
        transform: none !important;
        will-change: unset !important;
        top: 2.2rem !important;
        overflow: scroll;
        max-height: calc(100vh - 3.4rem);
    }

    .tiki-admin .bg-light .filter-menu.navbar-nav .dropdown-menu {
        border: .1rem solid rgba(0, 0, 0, 0.5) !important;
    }

    .tiki-admin .bg-dark .filter-menu.navbar-nav .dropdown-menu {
        border: 0.1rem solid white !important;
    }

    .tiki-admin .filter-menu.navbar-nav .dropdown-menu {
        margin-top: .5rem !important;
    }

    .tiki-admin .bg-light .filter-menu.navbar-nav .dropdown-divider, .tiki-admin .bg-dark .filter-menu.navbar-nav .dropdown-divider {
        margin-left: 0;
        margin-right: 0;
    }

    .tiki-admin .dropdown-menu .dropdown-header {
        margin-left: -.9rem;
    }

    .tiki-admin .top_modules .dropdown-menu {
        top: 0 !important;
    }

    .tiki-admin .navbar-collapse {
        padding-top: 3.5rem;
        overflow-y: auto;
    }

    .tiki-admin .dropdown-menu .dropdown-item, .tiki-admin .navbar-collapse .navbar-nav.mr-auto {
        padding: 0.5rem 3rem;
    }

    .tiki-admin .filter-menu .dropdown-menu.show .dropdown-item {
        padding: .5rem 1.8rem;
    }

    .tiki-admin .dropdown-menu .dropdown-header {
        padding: .5rem 3rem 0 3rem;
    }

    .tiki-admin .navbar-dark button[aria-expanded="true"] .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Ebene_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2020%2020%22%20style%3D%22enable-background%3Anew%200%200%2020%2020%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%09.st0%7Bfill%3A%23FFFFFF%3B%7D%0A%3C%2Fstyle%3E%0A%3Cpath%20class%3D%22st0%22%20d%3D%22M2.1%2C0.7l17%2C17c0.4%2C0.4%2C0.4%2C1%2C0%2C1.4l0%2C0c-0.4%2C0.4-1%2C0.4-1.4%2C0l-17-17c-0.4-0.4-0.4-1%2C0-1.4l0%2C0%0A%09C1.1%2C0.3%2C1.7%2C0.3%2C2.1%2C0.7z%22%2F%3E%0A%3Cpath%20class%3D%22st0%22%20d%3D%22M0.7%2C17.7l17-17c0.4-0.4%2C1-0.4%2C1.4%2C0l0%2C0c0.4%2C0.4%2C0.4%2C1%2C0%2C1.4l-17%2C17c-0.4%2C0.4-1%2C0.4-1.4%2C0l0%2C0%0A%09C0.3%2C18.7%2C0.3%2C18.1%2C0.7%2C17.7z%22%2F%3E%0A%3C%2Fsvg%3E%0A");
    }

    .tiki-admin .navbar-light button[aria-expanded="true"] .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg%20id%3D%22Ebene_1%22%20data-name%3D%22Ebene%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2019%2019%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%237c7c7d%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M2.1.7l17%2C17a1%2C1%2C0%2C0%2C1%2C0%2C1.4h0a1%2C1%2C0%2C0%2C1-1.4%2C0L.7%2C2.1A1%2C1%2C0%2C0%2C1%2C.7.7h0A1%2C1%2C0%2C0%2C1%2C2.1.7Z%22%20transform%3D%22translate(-0.4%20-0.4)%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M.7%2C17.7l17-17a1%2C1%2C0%2C0%2C1%2C1.4%2C0h0a1%2C1%2C0%2C0%2C1%2C0%2C1.4l-17%2C17a1%2C1%2C0%2C0%2C1-1.4%2C0h0A1%2C1%2C0%2C0%2C1%2C.7%2C17.7Z%22%20transform%3D%22translate(-0.4%20-0.4)%22%2F%3E%3C%2Fsvg%3E");
        background-size: contain;
    }

    .tiki-admin button[aria-expanded="true"] .navbar-toggler-icon {
        height: 24px;
    }

    .tiki-admin .admin-navbar button[aria-expanded="true"] {
        position: fixed;
        right: 0;
        left: unset;
        z-index: 999;
        margin-top: .3rem;
    }

    .tiki-admin .navbar-collapse .navbar-nav.mr-auto li.dropdown {
        font-size: 1.1rem;
        width: calc(100vw - 6rem);
    }

    .tiki-admin .navbar-collapse .navbar-nav.mr-auto li.dropdown > a::after {
        right: 0;
        top: .7rem;
        position: absolute;
        text-align: right;
        margin-top: 1rem;
    }

    .tiki-admin .navbar-collapse .navbar-nav.mr-auto .dropdown-menu {
        position: relative !important;
        margin: 1rem 0 1rem 0;
        padding: 0;
        background-color: transparent !important;
        transform: none !important;
    }

    .tiki-admin .dropdown.mr-1 > .dropdown-menu .dropdown-item {
        margin: 0 -3rem;
        width: 100vw;
    }

    .tiki-admin .navbar-collapse .form-check label {
        margin: 0;
    }

    .tiki-admin .navbar-collapse .form-inline {
        position: absolute !important;
    }

    .tiki-admin .navbar-collapse .form-check {
        padding-left: .75rem;
        padding-right: .5rem;
    }

    .tiki-admin .navbar-collapse .navbar-nav.filter-menu {
        padding: 0;
    }

    .tiki-admin .dropdown-divider {
        border-color: transparent !important;
    }

    .tiki-admin .top_modules .dropdown-menu, .tiki-admin .navbar-collapse .navbar-nav {
        left: 0 !important;
    }

    .tiki-admin .bg-light .dropdown-divider, .tiki-admin .bg-dark .dropdown-divider {
        margin-left: -3rem;
        margin-right: -3rem;
    }

    .tiki-admin .admin-wrapper .navbar-toggler {
        top: .5rem !important;
    }

    .tiki-admin .row.row-middle, .tiki-admin .intertrans.text-center {
        margin-left: 60px !important;
    }

    .tiki-admin .filter-menu .nav-item.dropdown {
        padding: 0 !important;
        display: flex;
        align-items: center;
    }

    .tiki-admin .admin-wrapper .navbar-expand-md .form-inline {
        padding-top: 0;
        margin-top: 0 !important;
    }

    .tiki-admin .admin-nav .form-inline.my-2.my-md-0 .mb-3 {
        margin-bottom: 0;
    }

    .tiki-admin .admin-nav .navbar-nav {
        margin-top: 0;
    }

    .tiki-admin .admin-nav .form-inline.my-2.my-md-0 {
        margin: 0 !important;
    }

    // Font in Menu
    .tiki-admin .top_modules.navbar-light-parent .dropdown-item, .tiki-admin .navbar-light.admin-navbar .navbar-nav .nav-link, .tiki-admin .top_modules.navbar-dark-parent .dropdown-item, .tiki-admin .navbar-dark.admin-navbar .navbar-nav .nav-link, .tiki-admin .top_modules.navbar-dark-parent .dropdown-menu a, .tiki-admin .top_modules.navbar-light-parent .dropdown-menu a {
        font-size: 1.3rem !important;
        line-height: 1.2;
    }

    .tiki-admin .bg-light .navbar-collapse .dropdown-item, .tiki-admin .bg-dark .navbar-collapse .dropdown-item {
        font-size: 1.1rem !important;
    }

    // other changes in mobile menu
    .tiki-admin .admin-navbar > .navbar-collapse > .navbar-nav > .nav-item > .nav-link.show {
        background-color: #007BFF !important;
        color: white !important;
    }

    .tiki-admin .navbar-light.admin-navbar .navbar-nav .nav-link, .tiki-admin .navbar-dark.admin-navbar .navbar-nav .nav-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 -3rem;
        padding: .5rem 3rem;
    }

    .tiki-admin .navbar-light.admin-navbar .navbar-nav .nav-link, .tiki-admin .navbar-dark.admin-navbar .navbar-nav .nav-link, .tiki-admin .navbar-collapse .navbar-nav.mr-auto .dropdown-menu {
        margin-top: .5rem !important;
    }

    .tiki-admin .admin-content nav.navbar-expand-md.mb-4 .navbar-collapse form {
        padding: .2rem 0;
        margin: 0 1.6rem;
        justify-content: space-between;
    }

}

@media (min-width: 768px) {
    .tiki-admin .filter-menu .nav-item.dropdown {
        padding-top: .4rem !important;
    }

    .tiki-admin .filter-menu.navbar-nav .dropdown-menu {
        transform: translate3d(0px, 30px, 0px) !important;
    }
}


.tiki-admin .top_modules .dropdown-header {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-shadow: none;
    border: none;
}

.tiki-admin .top_modules .form-control-sm, .tiki-admin .admin-wrapper .form-control-sm {
    font-size: .875rem;
}

.tiki-admin .bg-dark .dropdown-divider, .tiki-admin .bg-dark-parent .dropdown-divider {
    border-top: .5px solid white !important;
}

.tiki-admin .bg-light .dropdown-divider, .tiki-admin .bg-light-parent .dropdown-divider {
    border-top: .5px solid $color-light !important;
}

.tiki-admin .dropdown-menu {
    border: none;
}

.tiki-admin .navbar-light.bg-light #admin-menu .nav-item > .nav-link {
    color: var(--tiki-admin-dropdown-light-color);
    &:hover,
    &:focus {
        color: var(--tiki-admin-dropdown-light-hover-color) !important;
    }
}
.tiki-admin .navbar-dark.bg-dark #admin-menu .nav-item > .nav-link {
    color: var(--tiki-admin-dropdown-dark-color);
    &:hover,
    &:focus {
        background: var(--tiki-admin-dropdown-dark-hover-bg) !important;
    }
}

.tiki-admin .row.row-middle {
    margin-top: 6rem;
}

.tiki-admin .top_modules .nav-link {
    margin-top: .9rem;
}

.tiki-admin .top_modules .btn.login_link {
    margin-top: .8rem;
}

.tiki-admin .top_modules .nav-link, .tiki-admin .top_modules .btn.login_link {
    padding: 0 .6rem;
}

.tiki-admin .top_modules.navbar-dark-parent .dropdown-menu, .tiki-admin .bg-dark-parent .dropdown-item.mb-2.mt-2:hover, /*.tiki-admin .bg-dark .dropdown-menu,*/ .tiki-admin .filter-menu .dropdown-item:hover {
    color: var(--tiki-admin-dropdown-dark-color);
    background-color: var(--tiki-admin-dropdown-dark-bg); //$darkgrey !important;
}

.tiki-admin .top_modules.navbar-light-parent .dropdown-menu, .tiki-admin .bg-light-parent .dropdown-item.mb-2.mt-2:hover, .tiki-admin .bg-light .dropdown-menu, .tiki-admin .bg-light .filter-menu .dropdown-item:hover {
    background-color: var(--tiki-admin-dropdown-light-bg); // $lightgrey !important;
}

.tiki-admin .top_modules.navbar-dark-parent .dropdown-menu, .tiki-admin .top_modules.navbar-light-parent .dropdown-menu {
    border: none;
    border-radius: unset;
    box-shadow: none;
}

.tiki-admin .top_modules .login-box .dropdown-menu {
    min-width: unset;
    right: 0;
    margin-top: 3.1rem;
}

.tiki-admin .navbar-light .dropdown-item.active,
.tiki-admin .navbar-light .dropdown-item:active,
.tiki-admin .navbar-light .dropdown-item:hover,
.tiki-admin .navbar-light .dropdown-item:focus,
.tiki-admin .top_modules.navbar-light-parent a.dropdown-item:focus,
.tiki-admin .top_modules.navbar-light-parent a.dropdown-item:active,
.tiki-admin aside.admin-nav .navbar-light .navbar-nav ul .nav-link:hover,
.tiki-admin aside.admin-nav .navbar-light .dropdown-item.active {
    background-color: var(--tiki-admin-navbar-light-highlight-bg); // $blue !important;
    color: var(--tiki-admin-navbar-light-highlight-color); // white !important;
}

.tiki-admin .navbar-dark .dropdown-item.active,
.tiki-admin .navbar-dark .dropdown-item:active,
.tiki-admin .navbar-dark .dropdown-item:hover,
.tiki-admin .navbar-dark .dropdown-item:focus,
.tiki-admin .top_modules.navbar-dark-parent a.dropdown-item:focus,
.tiki-admin .top_modules.navbar-dark-parent a.dropdown-item:active,
.tiki-admin aside.admin-nav .navbar-dark .navbar-nav ul .nav-link:hover {
    background-color: var(--tiki-admin-navbar-dark-highlight-bg); // $blue !important;
    color: var(--tiki-admin-navbar-dark-highlight-color); // white !important;
}

.tiki-admin .btn-link:hover,
.tiki-admin .top_modules.navbar-dark-parent .nav-link:hover,
.tiki-admin .top_modules.navbar-light-parent .nav-link:hover,
.tiki-admin .btn:focus,
.tiki-admin .btn.focus {
    box-shadow: none;
    text-decoration: none;
}

.tiki-admin .admin-content nav.navbar-expand-md.mb-4 {
    padding: 0;
    display: flex;
}

.tiki-admin .admin-content nav.navbar-expand-md.mb-4 .navbar-brand {
    padding: 0;
    height: 50px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto !important;
    text-align: center;
    border: none;
}

.tiki-admin .admin-content nav.navbar-expand-md.mb-4 .navbar-brand img {
    max-width: 32px;
    max-height: 32px;
}

.tiki-admin .box-logo {
    display: none;
}

.tiki-admin .admin-content nav.navbar-expand-md.mb-4 .navbar-collapse form {
    position: relative;
    top: -.15rem;
}

.tiki-admin input[type="checkbox"].preffilter-toggle-round:checked + label:before {
    background-color: #28a745;
    border-color: #0062cc;
    color: white;
}

.tiki-admin aside.admin-nav .navbar-light > ul > li > a, .tiki-admin aside.admin-nav .navbar-dark > ul > li > a {
    font-weight: 500 !important;
    font-size: 1.1rem;
}

.tiki-admin aside.admin-nav .navbar-dark .navbar-nav .nav-link, .tiki-admin aside.admin-nav .navbar-light .navbar-nav .nav-link {
    line-height: 1.6;
}

.tiki-admin aside.admin-nav li {
    list-style-type: none;
}

.tiki-admin aside.admin-nav .narrow .nav-item form {
    display: none !important;
}

.tiki-admin aside.admin-nav li form {
    margin-right: 1.6rem;
    margin-left: 1.6rem !important;
    justify-content: unset !important;
}

.tiki-admin aside.admin-nav li form .my-1 {
    width: 100%;
}

.tiki-admin aside.admin-nav li form .my-1 .input-group {
    line-height: 1;
}

.tiki-admin .nav-item {
    margin-right: inherit;
}

.tiki-admin aside.admin-nav ul {
    padding-left: 0 !important;
}

.tiki-admin aside.admin-nav .sections-header a .icon.icon-home,
.tiki-admin aside.admin-nav li .icon .icon {
    margin-right: .5rem;
    font-size: .9rem;
}

.tiki-admin aside.admin-nav .bg-dark {
    background-color: var(--tiki-admin-navbar-dark-bg) !important; //$darkgrey !important;
}

.tiki-admin aside.admin-nav .navbar-dark .navbar-nav .nav-link, .tiki-admin aside.admin-nav .navbar-light .navbar-nav .nav-link {
    display: flex;
    align-items: center;
}

.tiki-admin aside.admin-nav .admin-menu-collapser {
    text-align: right;
    padding: 0;
}

.tiki-admin aside.admin-nav nav .admin-menu-collapser {
    width: 268px;
    position: fixed;
    bottom: 0;
    height: 2.3rem;
}

.tiki-admin aside.admin-nav .bg-dark .admin-menu-collapser {
    background-color: var(--tiki-admin-dropdown-dark-bg); // $lightgrey-dark;
}

.tiki-admin aside.admin-nav .bg-dark .admin-menu-collapser a.btn-link {
    color: var(--tiki-admin-dropdown-dark-color);
}

.tiki-admin aside.admin-nav .bg-light .admin-menu-collapser {
    background-color: var(--tiki-admin-dropdown-light-bg); // $lightgrey-dark;
}
.tiki-admin aside.admin-nav .bg-light .admin-menu-collapser a.btn-link {
    color: var(--tiki-admin-dropdown-light-color);
}

.tiki-admin aside.admin-nav .narrow ul > li {
    position: relative;
}

.tiki-admin aside.admin-nav .narrow ul > li .collapse {
    padding-left: 0;
}

.tiki-admin aside.admin-nav .narrow > ul > li > a span:not(.icon) {
    display: none !important;
}

.tiki-admin .ui-droppable.modules, .tiki-admin .ui-sortable.modules {
    min-height: unset !important;
}

.tiki-admin .form-inline .form-check {
    padding-right: .5rem;
}

// no overflow

.tiki-admin .container {
    overflow: hidden;
}

// main content
.tiki-admin:not(.fixed_width) .col1 .admin-wrapper {
    margin-left: 0;
}

.tiki-admin:not(.sidebar_collapsed) #show-errors-button, .tiki-admin:not(.sidebar_collapsed) #errors {
    margin-left: 283px;
}

.tiki-admin.sidebar_collapsed #show-errors-button, .tiki-admin.sidebar_collapsed #errors {
    margin-left: 75px;
}

@media (max-width: 767.5px) {
    .tiki-admin:not(.sidebar_collapsed) #show-errors-button, .tiki-admin:not(.sidebar_collapsed) #errors {
        margin-left: 75px;
    }
}
@media (min-width: 767px) and (max-width: 991px) {
    .tiki-admin:not(.fixed_width) .col1 .admin-wrapper {
    margin-left: 70px;
    }
}

@media (min-width: 992px) {
    .tiki-admin .container.container-std {
        margin-left: 285px;
    }
}


// Filter

.tiki-admin .admin-wrapper .navbar-nav.filter-menu {
    width: auto;
}

// Login Button

.tiki-admin .module.box-login_box button {
    background-color: transparent;
    border: none;
}

.tiki-admin .bg-dark-parent .module.box-login_box button {
    background-image: url("data:image/svg+xml,%3Csvg%20id%3D%22Ebene_1%22%20data-name%3D%22Ebene%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2034%2034%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%2C.cls-2%7Bfill%3A%23fff%3B%7D.cls-2%7Bstroke%3A%232c2c2c%3B%7D.cls-3%7Bfill%3Anone%3Bstroke%3A%23fff%3Bstroke-width%3A2px%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M22.86%2C22A4.09%2C4.09%2C0%2C0%2C0%2C23%2C21V20a4%2C4%2C0%2C0%2C0-4-4H13a4%2C4%2C0%2C0%2C0-4%2C4v1a4.09%2C4.09%2C0%2C0%2C0%2C.14%2C1Z%22%20transform%3D%22translate(1%201)%22%2F%3E%3Ccircle%20class%3D%22cls-2%22%20cx%3D%2217%22%20cy%3D%2213%22%20r%3D%224.5%22%2F%3E%3Ccircle%20class%3D%22cls-3%22%20cx%3D%2217%22%20cy%3D%2217%22%20r%3D%2216%22%2F%3E%3C%2Fsvg%3E") !important;
}

.tiki-admin .bg-light-parent .module.box-login_box button {
    background-image: url("data:image/svg+xml,%3Csvg%20id%3D%22Ebene_1%22%20data-name%3D%22Ebene%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2034%2034%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%2C.cls-2%7Bfill%3A%237c7c7d%3B%7D.cls-2%7Bstroke%3A%23f8f9fa%3B%7D.cls-3%7Bfill%3Anone%3Bstroke%3A%237c7c7d%3Bstroke-width%3A2px%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M22.86%2C22A4.09%2C4.09%2C0%2C0%2C0%2C23%2C21V20a4%2C4%2C0%2C0%2C0-4-4H13a4%2C4%2C0%2C0%2C0-4%2C4v1a4.09%2C4.09%2C0%2C0%2C0%2C.14%2C1Z%22%20transform%3D%22translate(1%201)%22%2F%3E%3Ccircle%20class%3D%22cls-2%22%20cx%3D%2217%22%20cy%3D%2213%22%20r%3D%224.5%22%2F%3E%3Ccircle%20class%3D%22cls-3%22%20cx%3D%2217%22%20cy%3D%2217%22%20r%3D%2216%22%2F%3E%3C%2Fsvg%3E") !important;
}

.tiki-admin .bg-dark-parent .module.box-login_box button, .tiki-admin .bg-light-parent .module.box-login_box button {
    background-repeat: no-repeat;
    background-size: 2rem;
    color: transparent !important;
    text-shadow: none;
    margin: .5rem .5rem 0 1rem !important;
    height: 2.1rem;
    background-position: right;
    width: 2rem;
}

.tiki-admin .siteloginbar_popup.dropdown {
    right: 0;
    position: fixed;
}

// Preference bar

.tiki-admin .admin-content nav.admin-navbar {
    background-color: transparent !important;
    background-image: none !important;
    position: fixed;
    left: 0;
    padding-left: 7rem;
    z-index: 9999 !important;
}

.tiki-admin #col1 {
    z-index: unset !important;
}

.tiki-admin .navbar-expand-md .form-inline {
    width: auto !important;
    margin-top: -.8rem;
    position: relative;
    top: -.2rem;
}

.tiki-admin .navbar-expand-md .navbar-nav .nav-link {
    padding: 0 .4rem;
    font-weight: normal;
}

.tiki-admin .admin-wrapper .navbar-toggler {
    position: absolute;
    border: none;
    left: 2.9rem;
}

.tiki-admin .admin-navbar .navbar-toggler-icon {
    height: 16px;
    background-size: contain;
}

.tiki-admin .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg%20id%3D%22Ebene_1%22%20data-name%3D%22Ebene%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2026%2016%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1%2C0H25a1%2C1%2C0%2C0%2C1%2C1%2C1h0a1%2C1%2C0%2C0%2C1-1%2C1H1A1%2C1%2C0%2C0%2C1%2C0%2C1H0A1%2C1%2C0%2C0%2C1%2C1%2C0Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1%2C14H25a1%2C1%2C0%2C0%2C1%2C1%2C1h0a1%2C1%2C0%2C0%2C1-1%2C1H1a1%2C1%2C0%2C0%2C1-1-1H0A1%2C1%2C0%2C0%2C1%2C1%2C14Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1%2C7H25a1%2C1%2C0%2C0%2C1%2C1%2C1h0a1%2C1%2C0%2C0%2C1-1%2C1H1A1%2C1%2C0%2C0%2C1%2C0%2C8H0A1%2C1%2C0%2C0%2C1%2C1%2C7Z%22%2F%3E%3C%2Fsvg%3E");
}

.tiki-admin .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg id='Ebene_1' data-name='Ebene 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%237c7c7d;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M1,0H25a1,1,0,0,1,1,1h0a1,1,0,0,1-1,1H1A1,1,0,0,1,0,1H0A1,1,0,0,1,1,0Z'/%3E%3Cpath class='cls-1' d='M1,14H25a1,1,0,0,1,1,1h0a1,1,0,0,1-1,1H1a1,1,0,0,1-1-1H0A1,1,0,0,1,1,14Z'/%3E%3Cpath class='cls-1' d='M1,7H25a1,1,0,0,1,1,1h0a1,1,0,0,1-1,1H1A1,1,0,0,1,0,8H0A1,1,0,0,1,1,7Z'/%3E%3C/svg%3E");
}

.tiki-admin .admin-wrapper .navbar-toggler:focus {
    box-shadow: none;
}

// Popovers

.tiki-admin .popover {
    z-index: 9999;
    max-width: 50vw;
}

// Toggle interactive translation

.tiki-admin .form-check.intertrans {
    margin-top: 50px;
}

// scrollbar

// width
.tiki-admin nav::-webkit-scrollbar {
    width: 1.2rem;
}

.tiki-admin nav.navbar-dark::-webkit-scrollbar-track {
    background-color: var(--tiki-admin-navbar-dark-bg) !important; //$darkgrey !important;
}

.tiki-admin nav.navbar-light::-webkit-scrollbar-track {
    background-color: var(--tiki-admin-navbar-light-bg); // $lightgrey;
}

// Handle
.tiki-admin nav.navbar-dark::-webkit-scrollbar-thumb {
    background: var(--tiki-admin-dropdown-dark-bg); // $darkergrey;
    border: .4rem solid var(--tiki-admin-navbar-dark-bg) !important; //$darkgrey !important;
    border-radius: 2rem;
}

.tiki-admin nav.navbar-light::-webkit-scrollbar-thumb {
    background: var(--tiki-admin-toggle-light-bg); // $lightgrey-dark;
    border: 0.4rem solid var(--tiki-admin-navbar-light-bg); //$lightgrey;
    border-radius: 2rem;
}

// scrollbar in firefox

.tiki-admin nav.navbar-dark {
    scrollbar-color: var(--tiki-admin-dropdown-dark-bg); // $darkergrey transparent;
    scrollbar-width: thin;
}

.tiki-admin nav.navbar-light {
    scrollbar-color: var(--tiki-admin-toggle-light-bg); // $lightgrey-dark transparent;
    scrollbar-width: thin;
}

// keep the basic/advanced filter aligned and the nav menu at the same place
.tiki-admin .admin-navbar ul.nav.navbar-nav.mr-auto {
    position: absolute;
    left: 295px;
    width: max-content;
}

// little tweak of the position
.tiki-admin .admin-content nav.admin-navbar {
    padding-left: 6rem;
    top: 0;
}

// FIX: make it the same width as the height
.tiki-admin .bg-dark-parent .module.box-login_box button, .tiki-admin .bg-light-parent .module.box-login_box button {
    width: 2.1rem;
}

// admin dashboard modules
.admin_modules .module.card {
    flex-grow: 1;
    min-width: 20%;
    width: min-content;
    margin: .5rem;
}