.tiki {
    .pvtUi {
        color: $tiki-pvtUi-color;
        background: $tiki-pvtUI-bg;
    }

    table.pvtTable {
        font-size: $tiki-pvt-font-size;
    }

    table.pvtTable tr th {
        background-color: $tiki-pvt-table-th-bg;
        color: $tiki-pvt-table-th-color;
        border: 1px solid $tiki-pvt-table-border-color;
        font-size: $tiki-pvt-font-size;
        padding: 5px;
    }

    //table.pvtTable .pvtColLabel {text-align: center;}
    //table.pvtTable .pvtTotalLabel {text-align: right;}

    table.pvtTable tr td {
        color: $tiki-pvt-table-color;
        cursor: pointer; // indicate that the cell is clickable
        //    padding: 5px;
        background-color: $tiki-pvt-table-bg;
        border-color: $tiki-pvt-table-border-color;
        //    vertical-align: top;
        //    text-align: right;
    }

    .pvtTotal,
    .pvtGrandTotal {
        font-weight: bold;
    }

    .pvtVals {
        text-align: center;
    }
    .pvtAggregator,
    .pvtRenderer,
    .pvtSearch,
    .pvtAttrDropdown {
        margin-bottom: 5px;
        background: $tiki-pvtAggregator-bg;
        color: $tiki-pvtAggregator-color;
        border: 1px solid $tiki-pvtAggregator-border;
        border-radius: $tiki-pvtAggregator-border-radius;
    }

    .pvtAxisContainer,
    .pvtVals {
        border-color: $tiki-pvt-table-border-color;
        background: $tiki-pvt-table-bg;
        padding: 5px;
        //    min-width: 20px;
        //    min-height: 20px;
    }
    //.pvtAxisContainer li {
    //    padding: 8px 6px;
    //    list-style-type: none;
    //    cursor:move;
    //}
    .pvtAxisContainer li.pvtPlaceholder {  // .tiki .pvtAxisContainer li span.pvtAttr
        padding: 3px 15px;
        border-radius: 5px;
        border: 1px dashed $tiki-pvt-table-border-color;
    }

    .pvtAxisContainer li span.pvtAttr {
        -webkit-text-size-adjust: 100%;
        color: $tiki-pvtAttr-color;
        background: $tiki-pvtAttr-bg;
        padding: 2px 5px;
        white-space: nowrap;
        border: 1px solid $tiki-pvtAttr-border-color; // $btn-primary-border;
        border-radius: $tiki-pvtAttr-border-radius;

    }

    .pvtTriangle {
        cursor: pointer;
        color: grey;
    }

    .pvtHorizList li {
        display: inline;
    }
    .pvtVertList {
        vertical-align: top;
    }

    .pvtFilteredAttribute {
        font-style: italic
    }

    .pvtFilterBox {
        z-index: 100;
        width: 280px;
        border: 1px solid $tiki-pvt-table-border-color;
        background-color: $tiki-pvt-modal-content-bg;
        position: absolute;
        padding: 20px;
        text-align: center;
    }

    .pvtFilterBox h4 {
        margin: 0;
    }
    .pvtFilterBox p {
        margin: 1em auto;
    }
    .pvtFilterBox label {
        font-weight: normal;
    }
    .pvtFilterBox input[type='checkbox'] {
        margin-right: 5px;
    }

    .pvtCheckContainer {
        text-align: left;
        overflow: auto;
        width: 100%;
        max-height: 200px;
    }
    .pvtCheckContainer p {
        margin: 5px;
    }

    .pvtRendererArea {
        padding: 5px;
    }
    .pvtFilterBox button {
        background: $tiki-pvtFilterBox-button-bg;
        border: 1px solid $border-color; //  $btn-primary-border;
        border-radius: $btn-border-radius;
        color: $tiki-pvtFilterBox-button-color;
        &:hover {
            background: $tiki-pvtFilterBox-button-hover-bg;
        }
        & + button {
            margin-left: 4px;
            margin-bottom: 4px;
        }
    }

    .c3 line, .c3 path, .c3 svg {
        fill: none;
        stroke: $tiki-c3-color;
    }
    select {
        font-size: $tiki-pvtSelect-font-size;
    }
}
