//  Compile to produce
/* strasa.css, the Strasa theme for Tiki Wiki CMS Groupware */

@import url("//fonts.googleapis.com/css?family=Simonetta");

@import "../../base_files/scss/_tiki-bootstrap_functions"; // Required Bootstrap

@import "variables"; // Theme overrides of Bootstrap defaults plus any additional variables
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../default/scss/variables"; // Bootstrap default variables, with a few Tiki overrides

@import "../../base_files/scss/_tiki-bootstrap_layout_and_components"; // Optional Bootstrap
@import "css-variables"; // Needs to be loaded after default variables to override them
@import "../../base_files/scss/_tiki-selectors.scss"; // Tiki CSS selectors used globally
@import "../../base_files/scss/_tiki-pagetop_colors.scss"; // Import if needed to specify top and topbar zone colors in more detail
@import "_tiki-selectors.scss"; // Tiki CSS selectors used by the theme
@import "../../base_files/scss/_external-scripts.scss"; // Why is this imported separately?
@import "../../base_files/scss/_select2-tiki_colors.scss"; // Why isn't this imported by external scripts?



// override for converseJS chatbox background colors
.tiki #conversejs, .tiki #conversejs.converse-embedded {
    #controlbox {
        .box-flyout { background-color: #fff; }
    }

    .chatbox {
        .box-flyout {
            background-color: #fff;
        }
    }
}

// override for some cypht background colors
body.tiki.tiki-webmail {
    background: #214d68 url('#{$imagePath}body-bg_fw.png') repeat-x;
}

// override for jQuery-UI colors
.tiki .ui-widget-header {
    color: #fff;
}

.tiki .ui-state-default,
.tiki .ui-widget-content .ui-state-default,
.tiki .ui-widget-header .ui-state-default,
.tiki .ui-button,
.tiki html .ui-button.ui-state-disabled:hover,
.tiki html .ui-button.ui-state-disabled:active {
    color: #069;
    background: #dee2e6
}

.tiki .ui-state-active,
.tiki .ui-widget-content .ui-state-active,
.tiki .ui-widget-header .ui-state-active,
.tiki a.ui-button:active,
.tiki .ui-button:active,
.tiki .ui-button.ui-state-active:hover {
    color: #069;
    background: #fff;
}
