//--------------------------- Tiki CSS variables
:root {
    --tiki-top-light-bg:  #{$light};
    --tiki-top-light-color: #{$blue};
    --tiki-top-light-link-color: #{$blue};
    --tiki-top-light-link-hover-color: #{lighten($blue, 10%)};

    --tiki-topbar-light-bg: #{$light};
    --tiki-topbar-light-color: #{$blue};
    --tiki-topbar-light-link-color: #{$blue};
    --tiki-topbar-light-link-hover-color: #{lighten($blue, 10%)};

    --tiki-top-dark-bg: #060606;
    --tiki-top-dark-color: rgba(255, 255, 255, 0.55);
    --tiki-top-dark-link-color: rgba(255, 255, 255, 0.55);
    --tiki-top-dark-link-hover-color: #{$white};

    --tiki-topbar-dark-bg: #060606;
    --tiki-topbar-dark-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-dark-link-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-dark-link-hover-color: #{$white};

    --tiki-top-dark-border: 1px solid #282828;
    --tiki-topbar-dark-border: 1px solid #282828;
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg) !important;
    --tiki-admin-dropdown-dark-color: #{$dropdown-dark-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}