/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information:
 * bootswatch v5.2.0
 * Homepage: http://bootswatch.com
 * Copyright 2012-2017 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
 *
 * Adapted by the Tiki Community for Tiki Wiki CMS Groupware
*/

@import "../../base_files/scss/_tiki-bootstrap_functions";

@import "variables";
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/lumen/bootswatch";
//@import "../../base_files/scss/_tiki-bootstrap_layout_and_components";
@import "css-variables"; // Needs to be loaded after default variables to override them

@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_tiki-pagetop_colors.scss"; // Import if needed to specify top and topbar zone colors in more detail
@import "../../base_files/scss/_external-scripts.scss";
@import "../../base_files/scss/_select2-tiki_colors.scss";

// Increase navbar height to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

/* Search preferences > button */
.tiki-admin aside.admin-nav li form .my-1 .input-group {
    overflow: hidden;
}

.tiki-admin aside.admin-nav li form .my-1 .btn:hover {
    margin-bottom: -1px;
}

.tiki-admin aside.admin-nav li form .my-1 .btn {
    border: solid;
    border-width: 0 1px 4px 1px;
    border-color: #137ea7;
    padding: .25rem .5rem;
}

.tiki-admin aside.admin-nav li form .my-1 .fas {
    width: 1.25em;
}

// Move border from navbar to parent
.topbar-wrapper.bg-light-parent {
    border: solid #eee;
    border-width: 0 1px 4px 1px;
}
.topbar-wrapper.bg-dark-light {
    border: solid #4d4d4d;
    border-width: 0 1px 4px 1px;

}