// Custom styles for the Business theme.

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Color system

$primary:       #0074C7;
$secondary:     #7400c3; // $gray-600 !default;
$success:       #214A21; // #5cb85c;
$info:          #20809D; //#5bc0de;
$warning:       #f0ad4e;
$danger:        #B82D28; // #d9534f;
$dark:          #01366c;
$black: #000;
$white: #fff;
$light: #f6f6f6;

$theme-colors: (
    "primary": #0074C7,
    "secondary": #7400c3,
    "success": #214A21, //#5cb85c,
    "info": #20809D, //#5bc0de,
    "warning": #975D0C, // #f0ad4e,
    "danger": #B82D28 // #d9534f
);

$gray-500: #737373; //lighten(@gray-base, 33.5%);
$gray-800: darken($gray-500,20%);
$gray-700: darken($gray-500, 15%);
$gray-600: darken($gray-500, 10%);
$gray-300: lighten($gray-500, 10%);
$gray-200: lighten($gray-500, 20%);

// Options
// Prefix for :root CSS variables

$variable-prefix:             bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix !default;

// Spacing
// Position
// Body
$body-color: $gray-800;

// Utility maps
//Links
$link-color: #005999; //#0074C7;

// Grid breakpoints
// Grid containers
// Grid columns
// Container padding
//Components
$border-radius-lg: 8px;

// Typography
// Fonts
$font-family-sans-serif: 'Merriweather Sans', sans-serif;
$headings-font-weight:        400;

$text-muted:                  $gray-700;

$blockquote-color: #4D4D4D;

// Tables
$table-border-color:               #dddddd;

// Buttons + Forms
// Buttons (Primary and info need to be explicitly defined for converse.js.)
$btn-primary-color: #ffffff;
$btn-primary-bg: #3676c4;
$btn-primary-border: #3676c4;

$btn-secondary-color: #ffffff;
$btn-secondary-bg: #3676c4;

$btn-info-bg: #fff;
$btn-info-color: #17a2b8;
$btn-info-border: #17a2b8;

// Forms
$input-border: #dddddd;
$input-group-addon-bg: #DBDBDB;

// Form validation
// Z-index master list

// Navs
$nav-link-color:                    $link-color;
//$nav-link-hover-color:             $link-hover-color;
$nav-link-color:                    var(--#{$prefix}link-color) !default;
$nav-link-hover-color:              var(--#{$prefix}link-hover-color) !default;

//Navbar
$navbar-dark-color:             #ffffff;
$navbar-dark-bg:                 #1f5daa;
$navbar-dark-border:             darken($navbar-dark-bg, 6.5%);



// Navbar links
$navbar-dark-color:                  #ffffff;
$navbar-dark-hover-color:          darken(#fff, 10%);
$navbar-dark-hover-bg:              transparent;
$navbar-dark-active-color:          #ffffff;
$navbar-dark-active-bg:              #3270bd;
$navbar-dark-disabled-color:         #cccccc;

$navbar-light-color:                $link-color;
$navbar-light-hover-color:          lighten($link-color,5%);
$navbar-light-active-color:         $navbar-light-hover-color;
$navbar-light-disabled-color:       rgba($black, .3) !default;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-light-toggler-border-color: rgba($black, .1) !default;

$navbar-light-brand-color:                $navbar-light-active-color !default;
$navbar-light-brand-hover-color:          $navbar-light-active-color !default;
$navbar-dark-brand-color:                 $navbar-dark-active-color !default;
$navbar-dark-brand-hover-color:           $navbar-dark-active-color !default;

// Dropdowns
$dropdown-color:                    $body-color !default;
$dropdown-bg:                       #fff; //$white !default;
//$dropdown-border-color:             var(--#{$prefix}border-color-translucent) !default;
$dropdown-link-color:               $link-color;
$dropdown-link-hover-color:         shade-color($dropdown-link-color, 10%) !default;
$dropdown-link-hover-bg:            $gray-200 !default;

//$dropdown-link-active-color:        $component-active-color !default;
//$dropdown-link-active-bg:           $component-active-bg !default;

$dropdown-link-disabled-color:      $gray-500 !default;

$dropdown-dark-color:               $gray-300;
$dropdown-dark-bg:                  $gray-800;
$dropdown-dark-link-hover-color:    $white !default;
$dropdown-dark-link-hover-bg:       rgba($white, .15) !default;
// Pagination
// Placeholders
// Cards
$card-border-radius: $border-radius-lg;
$card-text: #fff; // @gray-lighter;
$card-header-bg: #386dbb;

// Accordion
// Tooltips
// Popovers
$popover-body-color: $body-color;

// Toasts
// Badges
// Modals
$modal-header-border-color:   #386dbb;

// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Spinners
// Close
// Offcanvas
// Code

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

// base_files/scss/tiki-variables.scss overrides start
$tiki-module-h3-card-title-font-size: .95rem;
