// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
:root {
    --tiki-top-light-bg: #{$sky-light};
    --tiki-top-light-color: #{$navbar-light-color};
    --tiki-top-light-link-color: #{$navbar-light-color};
    --tiki-top-light-link-hover-color: #{$navbar-light-hover-color};

    --tiki-topbar-light-bg: #{$sky-light};
    --tiki-topbar-light-color: #{$navbar-light-color};
    --tiki-topbar-light-link-color: #{$navbar-light-color};
    --tiki-topbar-light-link-hover-color: #{$navbar-dark-hover-color};

    --tiki-top-dark-bg: #343a40;
    --tiki-top-dark-color: #{$navbar-dark-color};
    --tiki-top-dark-link-color: #{$navbar-dark-color};
    --tiki-top-dark-link-hover-color: #{$navbar-dark-hover-color};

    --tiki-topbar-dark-bg: #343a40;
    --tiki-topbar-dark-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-hover-color: #{$navbar-dark-hover-color};
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg) !important;
    //    --tiki-admin-dropdown-dark-color: #{$dropdown-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}

.accordion {
    --bs-accordion-active-bg: #E6EDCF;
    --bs-accordion-active-color: #2c3a05;
//    --bs-accordion-btn-bg: #FDF0F0;
//    --bs-accordion-btn-color: #D45E5A;
}