//--------------------------- Tiki CSS variables
:root {
    --tiki-top-light-bg: rgb(233, 236, 239);
    --tiki-top-light-color: #3a3f44;
    --tiki-top-light-link-color: rgba(0, 0, 0, 0.55);
    --tiki-top-light-link-hover-color: #3a3f44;
    --tiki-top-light-link-hover-bg: linear-gradient(#4e5357, #555b5f 40%, #5a6065);

    --tiki-topbar-light-bg: rgb(233, 236, 239);
    --tiki-topbar-light-color: #3a3f44;
    --tiki-topbar-light-link-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-light-link-hover-color: #3a3f44;
    --tiki-topbar-light-link-hover-bg: linear-gradient(#4e5357, #555b5f 40%, #5a6065);

    --tiki-top-dark-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-top-dark-color: #fff;
    --tiki-top-dark-link-color: rgba(255, 255, 255, 0.55);
    --tiki-top-dark-link-hover-color: #fff;
    --tiki-top-dark-link-hover-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);

    --tiki-topbar-dark-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-topbar-dark-color: #fff;
    --tiki-topbar-dark-link-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-dark-link-hover-color: #fff;
    --tiki-topbar-dark-link-hover-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);

    --tiki-top-light-border: solid rgba(0, 0, 0, 0.6);
    --tiki-top-dark-border: solid rgba(0, 0, 0, 0.6);
    --tiki-top-border-width: 1px;
    --tiki-topbar-light-border: solid rgba(0, 0, 0, 0.6);
    --tiki-topbar-dark-border: solid rgba(0, 0, 0, 0.6);
    --tiki-topbar-border-width: 1px;
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg);
    --tiki-admin-dropdown-dark-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}

//rgb(39, 43, 48); solid top/topbar background color