// $Id$ Custom variables for the Plum theme option of the FiveAlive and FiveAlive-lite themes

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
$white:    #fff;
$black:    #000;
$light: #7a04b5;

$bg-light: #7a04b5 !important;


$theme-colors: (
    "primary":            #7a04b5,
    "secondary":         #52269c,
    "success":             #5cb85c,
    "info":             #350251,
    "warning":             #f0ad4e,
    "danger":              #ff5c1a,
    "light":            #ffffff,
    "dark":                #15001f
);

$primary:       #7a04b5;
$secondary:     #52269c;
$success:       #5cb85c;
$info:          #350251;
$warning:       #f0ad4e;
$danger:        #ff5c1a;
$light:         #ffffff;
$dark:          #15001f;

$theme-colors: map-merge(
        (
            "primary":    $primary,
            "secondary":  $secondary,
            "success":    $success,
            "info":       $info,
            "warning":    $warning,
            "danger":     $danger,
            "light":      $light,
            "dark":       $dark
        ),
        $theme-colors
);

// Links
$link-color: #7a04b5;
$link-hover-color: #7a04b5;

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
//$bg-dark-link-hover-bg: #003c4a;

// Navs
$nav-tabs-link-color: #000;
$nav-tabs-link-bg: #f4e1ff; // Same as $input-bg;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: #15001f; // Same as $dropdown-link-hover-bg;

// Navbars
$top-bg: #49006c;
$top-color: #fff;
$top-link-color: #fff;
$top-link-hover-color: #f9f9f9;
$topbar-bg: #15001f;
$topbar-link-color: #fff;
$bg-dark-info: #f2f2f2;
$page-header-link-color: #000;

// Typography
$text-muted:  #6B737B;
$hr-color: #7a04b5;

// Cards
$card-border-color: #49006c;

// Tables
$table-border-color: #c564f5;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

// Forms
$input-color: #555555;
$input-bg: #f4e1ff;
$input-border-color: #f9f0ff;
$input-border-top-color: #db9fff;
$input-border-right-color: #f9f0ff;
$input-border-bottom-color: #f9f0ff;
$input-border-left-color: #db9fff;

// Form validation

// Dropdowns
$dropdown-bg: #49006c;
$dropdown-border-color: rgba(0, 0, 0, 0.15);
$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f2f2f2;
$dropdown-link-hover-bg: #15001f;
$dropdown-link-active-color: #f2f2f2;
$dropdown-link-active-bg: #380052;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$dropdown-dark-color: #fff;
$dropdown-dark-bg: $dropdown-bg;

// Pagination
$nav-pills-link-active-bg: #7a04b5;
$pagination-color: #7a04b5;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #7a04b5;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #7a04b5;
$pagination-active-border-color: #7a04b5;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;


// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

// Aug 18 2022 start
$top-bg: #49006c; // Used for $post-card-header-bg and .postbody-title
$top-color: #fff;
$top-link-color: #fff;
$top-link-hover-color: #f9f9f9;
//$topbar-bg: #063035;

$top-dark-bg: #49006c;
$top-dark-color: #fff;
$topbar-dark-bg: #15001f; // $topbar-light-bg;
$topbar-dark-color: #fff;

$top-light-bg: $top-dark-bg; // #a52874;
$top-light-color: $top-dark-color; // #fff;
$topbar-light-bg: $topbar-dark-bg;  // #551e3d;
$topbar-light-color: $topbar-dark-color; //#fff;

$navbar-light-link-color: $top-light-color;
$navbar-light-link-hover-color: #f2f2f2;
$navbar-light-link-hover-bg: #003c4a;

$navbar-dark-link-color: $top-light-color;
$navbar-dark-link-hover-color: #f2f2f2;
$navbar-dark-link-hover-color: $navbar-light-link-hover-color;
//$navbar-light-link-hover-bg: #003c4a;
// Aug 18 2022 revamp end

// Dropdowns
$dropdown-dark-link-hover-bg:       rgba($white, .15) !default;

$bg-light-alt: #117485 !important;

$side-column-heading-color: #49006c;

$middle_outer-inset-shadow-bg: #180124;
$footer_liner-card-inner-border: #7a04b5;

$footer-accent-color: #7a04b5;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

//$autotoc-nav-bg: #49006c;
//$autotoc-color: #ffffff;
//$autotoc-nav-link-hover-color: #f2f2f2;
//$autotoc-nav-link-hover-bg: #2e1f39;

//$autotoc-nav-bg: #ffffff;
//$autotoc-nav-border: #15001f;
//$autotoc-color: #7a04b5;
//$autotoc-nav-li-link-hover-color: #f2f2f2;
//$autotoc-nav-li-link-hover-bg: #380052;

// These variables need to be defined for the files to compile. The specific variables for the child theme's button colors are defined
// at the bottom of the file but by default they use the child theme's theme-colors. There appears to be redundancy in defining colors but each line is necessary.
// There are unique names for the child theme button colors to avoid any conflict with the general theme colors.

// The following are default values from vendor/twbs/bootstrap/scss/variables.scss - change as needed for theme child option (or to match values in parent theme).
// Comment-out any that are already defined in the parent theme variables.scss file and shouldn't be redefined.
$yiq-contrasted-threshold:  150;
$gray-600: #6c757d !default;
$gray-900: #212529;
$white:    #fff;
$yiq-text-dark:             $gray-900 !default;
$yiq-text-light:            $white !default;

$black:    #000 !default;
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$enable-gradients:               false;
$enable-shadows:              false;
$input-btn-focus-width:       .2rem !default;
$btn-focus-width:             $input-btn-focus-width !default;
$link-color:                   $primary;
$link-hover-color:               darken($link-color, 15%);
$link-hover-decoration:       underline !default;
$btn-link-disabled-color:     $gray-600 !default;


// Variables needed for button color variants (end)

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
:root {
    --tiki-top-light-bg: #{$top-light-bg};
    --tiki-top-light-color: #{$top-light-color};
    --tiki-top-light-link-color: #{$top-link-color};
    --tiki-top-light-link-hover-color: #{$top-link-hover-color};

    --tiki-topbar-light-bg: #{$topbar-light-bg};
    --tiki-topbar-light-color: #{$topbar-light-color};
    --tiki-topbar-light-link-color: #{$top-light-color};
    --tiki-topbar-light-link-hover-color: #{$navbar-light-link-hover-color};

    --tiki-top-dark-bg: #{$top-dark-bg};
    --tiki-top-dark-color: #{$navbar-dark-link-color};
    --tiki-top-dark-link-color: #{$navbar-dark-link-color};
    --tiki-top-dark-link-hover-color: #{$navbar-dark-link-hover-color};

    --tiki-topbar-dark-bg: #{$topbar-dark-bg};
    --tiki-topbar-dark-color: #{$navbar-dark-link-color};
    --tiki-topbar-dark-link-color: #{$navbar-dark-link-color};
    --tiki-topbar-dark-link-hover-color: #{$navbar-dark-link-hover-color};

    --tiki-top-light-border: solid #000;
    --tiki-top-dark-border: solid #000;
    --tiki-top-border-width: 0 0 5px 0;
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg) !important;
    --tiki-admin-dropdown-dark-color: #{$dropdown-dark-color};
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-color: var(--tiki-top-light-color);
    --tiki-admin-dropdown-light-hover-color: var(--tiki-top-light-hover-color);
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}

.accordion {
    --bs-accordion-active-bg: #3b0f52;
    --bs-accordion-active-color: #fff;
    --bs-accordion-btn-bg: #{$primary};
    --bs-accordion-btn-color: #fff;
}