// $Id$ Darkly tiki-selectors less file


body.fullscreen { background: $body-bg; }

// Update for Smartmenus
$dropdown-item: $dropdown-link-color;
.dropdown-menu.mega-menu a { color: $link-color !important; }

